# ==============================================
# 系统 / 编辑器自动生成
# ==============================================
.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/
.hbuilderx/
*.iml

# ==============================================
# Node 依赖（前后端都忽略）
# ==============================================
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# ==============================================
# Uniapp 打包 / 编译产物
# ==============================================
unpackage/
dist/
build/
*.local


front_end/manifest.json

# ==============================================
# 私密配置文件
# ==============================================
.env
.env.local
.env.development
.env.production
.env.test
config/secret.js
private.js
back_end/config.env
UI/

# ==============================================
# 其他无用文件
# ==============================================
*.zip
*.rar
*.txt
*.docx
*.doc
*.pdf